# Prerequisites
*.d
.DS_Store

# old text editor files
*~

# Qt created files
moc*
ui_*.h

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.user

*.autosave

mainwindow - Copy.ui
*.stash
*.pc
*.prl
qrc_qtpileresources.cpp
Makefile
ui_mainwindow.h
ui_mainwindow.h
qwt-6.2/lib/qwt.framework/*
qwt-6.2/lib/qwtmathml.framework/*
build-qwt-Desktop_Qt_5_10_0_clang_64bit-Debug/lib/libqwt.prl
build-qwt-Desktop_Qt_5_10_0_clang_64bit-Debug/lib/libqwtmathml.prl
qwt-6.2/textengines/mathml/qwt-6.2.0/features/qwtmathml.prf
qwt-6.2/textengines/mathml/qwt-6.2.0/include/qwt_mathml_text_engine.h
build-qwt-Desktop_Qt_5_10_0_clang_64bit-Debug/lib/pkgconfig/Qt5Qwt6.pc
build-qwt-Desktop_Qt_5_10_0_clang_64bit-Debug/lib/qwtmathml.pc
qwt-6.2/lib/qwtmathml.pc
qwt-6.2/lib/pkgconfig/Qt5Qwt6.pc
qwt-6.2/lib/qwtmathml.pc
qwt-6.2/lib/pkgconfig/Qt5Qwt6.pc
qwt-6.2/lib/qwtmathml.pc
qwt-6.2/lib/pkgconfig/Qt5Qwt6.pc
qwt-6.2/lib/qwtmathml.pc

*.swp

*.dmg

PGTinstaller/packages/nheri\.simcenter\.pgt/data/PileGroupTool/

PileGroupTool\.pro\.user\.4\.8-pre1

PileGroupTool\.pro\.user\.4\.9-pre1

PileGroupTool.pro.user.4.10-pre1
