# Prerequisites
*.d

# old text editor files
*~

# Qt created files
moc*
ui_*.h

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.user

*.autosave

mainwindow - Copy.ui
*.stash
qrc_qtpileresources.cpp
Makefile
ui_mainwindow.h
ui_mainwindow.h
